.wrap {
    width: 200px;
    height: 200px;
    background: red;
    display: inline-block;
    position: relative;
}
.box {
    margin: 32px 15px;
    display: flex;
}
.left, .right {
    position: relative;
}
.right {
    left: 50px;
}
.bar {
    position: relative;
}